<div>
    <h2>Order list</h2>
    <div class="row" ng-repeat="order in orders">
        <div class="col col-xs-12">
            <p>{{ order }} <a ui-sref="orders.edit({idx:$index})">[Edit]</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col col-xs-12">
            <a ui-sref="orders.new" class="btn btn-default">New order</a>
        </div>
    </div>
</div>